footer{
    width: 100%;
    background-color: #212121;

    h1{
        color: rgba(240, 248, 255, 0.907);
        font-size: 1rem;
        margin: 0;

        span a{
            color: #a213a2;
            cursor: pointer;
        }
    }
}