<div class="banner">
    <div class="container-banner">
      <div class="banner-msg">
        <p>Hello!</p>
        <h1>I'm Jhon Doe</h1>
        <h1>a <strong>Full-Stack Developer</strong></h1>
        <p>
          Full-Stack developer based in brazil.
          I am coding with a clean and beautiful problem solving in mind.
        </p>
        <div class="banner-button">
          <button class="btn-contact">
            <i class="fa-regular fa-comment"></i> Contact
          </button>
          <button class="button-cv">
            <i class="fa-solid fa-file-arrow-down"></i> Download CV
          </button>
        </div>
      </div>
      <div class="banner-img imagem-com-borda">
        <img src="" alt="">
      </div>
    </div>
  </div>