// Define colors as variables for easy maintenance
$verde: #a5f251;
$background-preto: #0f1216;
$background-preto-secundario: #282d34;
$branco: #a8b9b3;

.banner {
  .container-banner {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $background-preto; // Use variable for background color

    @media (max-width: 800px) {
      display: inline-block;
    }
  }

  .banner-msg {
    flex-basis: 50%;
    color: $branco; // Use variable for text color

    p, h1 {
      color: rgba($branco, 0.904); // Use variable for text color with opacity
      padding: 4px;
    }
  }

  .banner-button {
    display: flex;

    button {
      padding: 10px;
      width: 100%;
      margin: 5px;
      border: none;
      background-color: $verde; // Use variable for button background color

      &:hover {
        background-color: darken($verde, 10%); // Darken the button on hover
      }
    }

    .button-cv {
      background-color: transparent;
      color: $branco;
      border: 1px solid $verde;

      &:hover {
        background-color: $verde;
        color: $background-preto;
      }
    }
  }
}

@media (max-width: 800px) {
  .banner {
    margin: 100px 0px;
    padding: 0 2%;
    
    .container-banner {
      background-color: $background-preto; // Use variable for background color
    }
    
    .banner-img {
      display:none;
    }
  }
}
