.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
  
    .login-info {
        width: 100%;
        max-width: 350px;
        background-color: #e0dbe8; // Feel free to change the color
        /* Mantenha a altura total */
        height: 100vh;
        /* Remova margin auto e use flexbox para centralizar */
        display: flex;
        flex-direction: column; /* Mantém a estrutura de coluna interna */
        justify-content: center; /* Centraliza verticalmente o conteúdo interno */
        align-items: center; /* Centraliza horizontalmente o conteúdo interno */
        padding: 0 2%;
  
      h1 {
        color: #a213a2;
        margin-bottom: 10px;
      }
  
      p {
        color: #333;
        margin-bottom: 20px;
      }
  
      .login-form {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        input {
          padding: 10px;
          width: 100%;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .terms{
            display: flex;
        }

        .terms .check{
            width: 22px;

        }
  
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          background-color: #a213a2;
          color: white;
          cursor: pointer;
  
          &:hover {
            opacity: 0.8;
          }
        }
      }
  
      .register-message {
        color: #666;
  
        a {
          color: #a213a2;
          text-decoration: none;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .login-image {
        display: flex; /* Adiciona flexbox ao container da imagem */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 100%;        
        img {
            width: 50%; /* Ajuste a largura da imagem conforme necessário */
            max-width: 100%; /* Garante que a imagem não exceda o container */
        }
    }
    
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
  
      .login-info,
      .login-image {
        background-color: white;

        margin-top: 50px;
        width: 100%;
      }
    }
  }
  