<div class="login-container">
  <div class="login-info">
    <h1>Quickpanel</h1>
    <p>Conecte-se para continuar</p>
    <form class="login-form">
      <input type="email" placeholder="Email ou Login" required />
      <input type="password" placeholder="Senha" required />
      <button type="submit">Entrar</button>
    </form>
    <p class="register-message">
      Não tem uma conta? <a href="#">Registre-se agora</a>
    </p>
  </div>
  <div class="login-image">
    <img src="assets/login.svg" alt="">
  </div>
</div>
