* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    background-color: #0f1216;
}

/* 
COLOR: verde: #a5f251
COLOR background-preto: #0f1216
COLOR background-preto-secundario: #282d34
COLOR BRANCO: #B0A8B9

            #1e2424
            #181d23
*/

/* HEADER */
.top-bar {
    color: white;
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

span{
    font-size: 0.7rem;
    color: var(--branco);
}

strong{
    color: var(--verde);
}

.social-icons{
    text-align: right;
}

.fab{
    font-size: 1.3rem;
    margin-left: 10px;
}

.github { background-image: url('https://github.com/devleo-m'); }
.linkedin { background-image: url('https://www.linkedin.com/in/leonardo-madeira-20a8a7237/'); }
.instagram { background-image: url('https://www.instagram.com/leomadeiraa/'); }
.whatsapp { background-image: url('https://api.whatsapp.com/send?phone=5548984274450'); }

.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.6s;
}

header {
    padding: 0 2%;
    background-image: linear-gradient(to right, #1e2424, #181d23);
    left: 0; 
    right: 0; 
    transition: top 0.5s;
    z-index: 1;
}

nav {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 70px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

#logo {
    width: 60px;
    background-color: var(--verde);
}

/* Reset padrão para listas */
nav ul {
    list-style: none; /* Remove as bolinhas */
    padding: 0;
    margin: 0;
}

/* Estilização do menu */
nav li {
    display: inline-block; /* Exibe os itens do menu na horizontal */
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

/* Links do menu */
nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #edf3f1; /* Define a cor do texto dos links */
    font-weight: bold; /* Deixa o texto dos links em negrito */
}

nav a:hover {
    background-image: linear-gradient(to right, #a5f251, #8ed445, #a5f251);
    -webkit-background-clip: text;
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}

.social-icons a{
    color: #dfebe6;
    text-decoration: none;
}

.social-icons a:hover{
    color: #7ac727;
}

.hamburger-menu {
    display: none;
}

.icon-menu{
    color: white;
    font-size: 30px;
}

.icon-menu:hover{
    color: var(--verde);
}

/* HEADER RESPONSIVO*/
/* Exibe o menu hambúrguer em telas menores */
@media (max-width: 540px) {
    .hamburger-menu {
        display: block; /* Mostra o menu hambúrguer */
        cursor: pointer;
        background-color: rgba(240, 248, 255, 0);
        border: none;
        padding: 0 2;
    }

    /* Esconde a lista de navegação quando o menu hambúrguer está ativo */
    ul {
        display: none;
    }

    /* Estilos para quando o menu hambúrguer é clicado */
    .hamburger-menu.active + ul {
        display: block; /* Mostra a lista de navegação */
    }
}

/* MENU LATERAL*/
/* Estilo do Menu Lateral */
.menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--background-preto-secundario);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Estilo dos links do menu */
.menu-lateral a {
    padding: 1px 1px 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.928);
    display: block;
    transition: 0.3s;
}

/* Estilo do ícone de fechar */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Estilo dos ícones de contato no menu lateral */
.social-icons2 {
    position: absolute;
    bottom: 10px;

}

.social-icons2 a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.928);
    cursor: pointer;
    font-size: 1.5rem;
    
}

.social-icons2 a:hover{
    color: var(--verde);
}

.banner{
    margin: 100px 0px;
    padding: 0 2%;
}