/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-preto);
}

:root {
    --verde: #a5f251;
    --background-preto: #0f1216;
    --background-preto-secundario: #282d34;
    --branco: #a8b9b3;
}