<div class="banner">
  <div class="container-banner">
    <div class="banner-msg">
      <p>Ola! Seja bem vindo ao projeto Quickpanel!</p>
      <h1>Eu criei esse projeto para testar</h1>
      <h1>minhas habilidades <strong>Full-Stack</strong></h1>
      <p>
        Criado com Angular e Rails e algumas implementacoes basicas.
      </p>
      <div class="banner-button">
        <button class="btn-contact">
          <i class="fa-regular fa-comment"></i> Contato
        </button>
        <button class="button-cv">
          <i class="fa-solid fa-file-arrow-down"></i> Github
        </button>
      </div>
    </div>
    <div class="banner-img imagem-com-borda">
      <img
        src="assets/banner.svg"
        alt="Minha imagem - Leonardo Madeira"
      />
    </div>
  </div>
</div>
