<app-menu></app-menu>
<main>
    <div class="upload-container">
        <div class="upload-instructions">
            <h2>Upload da Logo</h2>
            <p>Por favor, faça o upload da imagem da logo que será exibida no menu do site.</p>
            <input type="file" id="logo-upload" name="logo-upload" accept="image/*">
        </div>

        <div class="upload-instructions">
            <h2>Upload do Banner</h2>
            <p>Por favor, faça o upload da imagem ou ilustração para o banner.</p>
            <input type="file" id="banner-upload" name="banner-upload" accept="image/*">
        </div>

        <button class="upload-button">Enviar Imagens</button>
    </div>
</main>