<mat-toolbar>
    <header>
        <h1>Quick.Panel</h1>
        <ul>
            <li><a href="index.html" rel="noopener noreferrer">Home</a></li>
            <li><a href="index.html" rel="noopener noreferrer">Sobre</a></li>
            <li><a href="index.html" rel="noopener noreferrer">Contato</a></li>
            <li><a href="index.html" rel="noopener noreferrer">Blog</a></li>
        </ul>
        <a style="text-decoration: none; color: #f0f8ffed;" href="http://localhost:4200/login">
            <button>
                Login/Registrar
            </button>
        </a>
    </header>
</mat-toolbar>